---
import { CollectionEntry, getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
	const collection = await getCollection("cloud");

	return collection.map((entry) => ({
		params: {
			slug: entry.slug,
		},
		props: entry,
	}));
}
type Props = CollectionEntry<"cloud">;

const post = Astro.props;
const { Content, headings } = await post.render();

---

<MainLayout headings={headings} {...post.data}>
	<div style="margin-top: 3em">
		<table>
			<tr>
				<th>Status</th>
				<td>{post.data.status}</td>
			</tr>
			<tr>
				<th>Pricing</th>
				<td>{post.data.pricing}</td>
			</tr>
			<tr>
				<th>Single sign-on</th>
				<td>{ post.data.sso }</td>
			</tr>
			<tr>
				<th>MFA</th>
				<td>{ post.data.mfa }</td>
			</tr>
			<tr>
				<th>Authorization</th>
				<td>{ post.data.authorization }</td>
			</tr>
			<tr>
				<th>Downtime impact</th>
				<td>{ post.data.downtimeImpact }</td>
			</tr>
			<tr>
				<th>Configuration management</th>
				<td>{ post.data.configuration }</td>
			</tr>
		</table>
	</div>

	<Content />
</MainLayout>

<style>
	.deployment-icon {
		max-height: 16px;
	}
</style>